In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable
covid = "data_sources2/Counties.csv"
rallies = "data_sources2/pres_rallies_2020.csv"

In [3]:
# Creating data frames
covid_df = pd.read_csv(covid, encoding="ISO-8859-1")
rallies_df = pd.read_csv(rallies, encoding="ISO-8859-1")

In [4]:
#Viewing data frames
covid_df.head()

,date1,Date2,county,state,county_state,fips,cases,deaths
0,20200125,1/25/2020,Orange,California,Orange_California,6059,1,0
1,20200126,1/26/2020,Maricopa,Arizona,Maricopa_Arizona,4013,1,0
2,20200126,1/26/2020,Orange,California,Orange_California,6059,1,0
3,20200127,1/27/2020,Maricopa,Arizona,Maricopa_Arizona,4013,1,0
4,20200127,1/27/2020,Orange,California,Orange_California,6059,1,0

In [5]:
#chekcing data
covid_df.count()

date1           79136
Date2           79136
county          79136
state           79136
county_state    79136
fips            79136
cases           79136
deaths          79136
dtype: int64

In [6]:
# Using GroupBy in order to separate the data into fields according to combine county/state values
grouped_covid_df = covid_df.groupby(['county_state'])

# In order to be visualized, a data function must be used...
grouped_covid_df.describe().head(10)

                    date1                                                     \
                    count          mean         std         min          25%
county_state
Adams_Colorado      252.0  2.020071e+07  240.035796  20200312.0  20200513.75
Adams_Idaho         233.0  2.020075e+07  220.667038  20200331.0  20200528.00
Adams_Illinois      244.0  2.020073e+07  232.659208  20200320.0  20200519.75
Adams_Indiana       254.0  2.020071e+07  241.733155  20200310.0  20200512.25
Adams_Iowa          186.0  2.020082e+07  178.433803  20200517.0  20200702.25
Adams_Mississippi   244.0  2.020073e+07  232.659208  20200320.0  20200519.75
Adams_Nebraska      246.0  2.020072e+07  234.597528  20200318.0  20200518.25
Adams_North Dakota  114.0  2.020094e+07  110.341396  20200728.0  20200825.25
Adams_Ohio          229.0  2.020075e+07  217.263141  20200404.0  20200531.00
Adams_Pennsylvania  246.0  2.020072e+07  234.597528  20200318.0  20200518.25

                                                          fips           ...  \
                           50%          75%         max  count     mean  ...
county_state                                                             ...
Adams_Colorado      20200715.5  20200916.25  20201118.0  252.0   8001.0  ...
Adams_Idaho         20200725.0  20200921.00  20201118.0  233.0  16003.0  ...
Adams_Illinois      20200719.5  20200918.25  20201118.0  244.0  17001.0  ...
Adams_Indiana       20200714.5  20200915.75  20201118.0  254.0  18001.0  ...
Adams_Iowa          20200817.5  20201002.75  20201118.0  186.0  19003.0  ...
Adams_Mississippi   20200719.5  20200918.25  20201118.0  244.0  28001.0  ...
Adams_Nebraska      20200718.5  20200917.75  20201118.0  246.0  31001.0  ...
Adams_North Dakota  20200922.5  20201020.75  20201118.0  114.0  38001.0  ...
Adams_Ohio          20200727.0  20200922.00  20201118.0  229.0  39001.0  ...
Adams_Pennsylvania  20200718.5  20200917.75  20201118.0  246.0  42001.0  ...

                      cases          deaths                              \
                        75%      max  count        mean        std  min
county_state
Adams_Colorado      8276.75  23832.0  252.0  150.753968  82.832927  0.0
Adams_Idaho           28.00     89.0  233.0    0.566524   0.854044  0.0
Adams_Illinois       959.75   4138.0  244.0    6.676230   9.154239  0.0
Adams_Indiana        226.25   1432.0  254.0    3.157480   3.518276  0.0
Adams_Iowa            39.75    143.0  186.0    0.118280   0.323811  0.0
Adams_Mississippi    911.00   1276.0  244.0   23.250000  14.010835  0.0
Adams_Nebraska       497.00   1336.0  246.0    9.447154   4.881792  0.0
Adams_North Dakota    61.25    143.0  114.0    0.000000   0.000000  0.0
Adams_Ohio           123.00    618.0  229.0    2.532751   2.195494  0.0
Adams_Pennsylvania   765.75   1587.0  246.0   15.609756  10.791254  0.0


                      25%    50%     75%    max
county_state
Adams_Colorado      89.75  159.0  213.75  294.0
Adams_Idaho          0.00    0.0    1.00    2.0
Adams_Illinois       1.00    1.0   10.00   41.0
Adams_Indiana        1.00    2.0    4.00   19.0
Adams_Iowa           0.00    0.0    0.00    1.0
Adams_Mississippi   15.00   22.0   36.00   48.0
Adams_Nebraska      10.00   11.0   12.00   21.0
Adams_North Dakota   0.00    0.0    0.00    0.0
Adams_Ohio           1.00    2.0    4.00   10.0
Adams_Pennsylvania   5.00   15.0   25.00   40.0

[10 rows x 32 columns]

In [7]:
#correcting data types 
covid_df["cases"] = covid_df.loc[:, "cases"].astype(float)
covid_df["deaths"] = covid_df.loc[:, "deaths"].astype(float)
covid_df["Date2"] = covid_df["Date2"].astype('datetime64[ns]')

In [8]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79136 entries, 0 to 79135
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date1         79136 non-null  int64
 1   Date2         79136 non-null  datetime64[ns]
 2   county        79136 non-null  object
 3   state         79136 non-null  object
 4   county_state  79136 non-null  object
 5   fips          79136 non-null  int64
 6   cases         79136 non-null  float64
 7   deaths        79136 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 4.8+ MB

In [9]:
#extracting the year and month name and adding them as a columns, keeping county/state, date, and # of cases
covid_by_month_df =  (covid_df.groupby([covid_df['county_state'], covid_df['Date2'].dt.year.rename('year'), 
                   covid_df['Date2'].dt.month_name().rename('month'),covid_df['date1']]) ['cases'].sum().reset_index())
covid_by_month_df.head()

     county_state  year  month     date1  cases
0  Adams_Colorado  2020  April  20200401  214.0
1  Adams_Colorado  2020  April  20200402  260.0
2  Adams_Colorado  2020  April  20200403  294.0
3  Adams_Colorado  2020  April  20200404  320.0
4  Adams_Colorado  2020  April  20200405  354.0

In [10]:
#Ordering new df by date

covid_by_month_df = covid_by_month_df.sort_values(["county_state", "date1"])
covid_by_month_df.head()

       county_state  year  month     date1  cases
122  Adams_Colorado  2020  March  20200312    2.0
123  Adams_Colorado  2020  March  20200313    3.0
124  Adams_Colorado  2020  March  20200314    6.0
125  Adams_Colorado  2020  March  20200315    6.0
126  Adams_Colorado  2020  March  20200316    8.0

In [11]:
# using loc to pull just the covid data for election rally months
aug_sep_oct_nov = covid_by_month_df.loc[(covid_by_month_df["month"] == "August") | (
    covid_by_month_df["month"] == "September") | (
    covid_by_month_df["month"] == "October") | (
    covid_by_month_df["month"] == "November"), :]
aug_sep_oct_nov

          county_state  year     month     date1   cases
30      Adams_Colorado  2020    August  20200801  6018.0
31      Adams_Colorado  2020    August  20200802  6084.0
32      Adams_Colorado  2020    August  20200803  6115.0
33      Adams_Colorado  2020    August  20200804  6181.0
34      Adams_Colorado  2020    August  20200805  6248.0
...                ...   ...       ...       ...     ...
79070  Yavapai_Arizona  2020  November  20201114  3570.0
79071  Yavapai_Arizona  2020  November  20201115  3637.0
79072  Yavapai_Arizona  2020  November  20201116  3780.0
79073  Yavapai_Arizona  2020  November  20201117  3841.0
79074  Yavapai_Arizona  2020  November  20201118  3864.0

[36618 rows x 5 columns]

In [12]:
#finding the begining of month and end of month cases for each county/state 

covid_min_cases = pd.DataFrame(aug_sep_oct_nov.groupby(['county_state', 'month']).min())
covid_max_cases = pd.DataFrame(aug_sep_oct_nov.groupby(['county_state', 'month']).max())

In [13]:
# adding the end value of cases for each month in to DF w begining data 
end_cases = covid_max_cases['cases']
covid_min_cases['end_cases'] = end_cases

covid_min_cases

                           year     date1    cases  end_cases
county_state    month
Adams_Colorado  August     2020  20200801   6018.0     7579.0
                November   2020  20201101  15574.0    23832.0
                October    2020  20201001   9537.0    15216.0
                September  2020  20200901   7647.0     9433.0
Adams_Idaho     August     2020  20200801     18.0       25.0
...                         ...       ...      ...        ...
Wilson_Texas    September  2020  20200901    540.0      902.0
Yavapai_Arizona August     2020  20200801   1778.0     2311.0
                November   2020  20201101   3029.0     3864.0
                October    2020  20201001   2583.0     3022.0
                September  2020  20200901   2321.0     2567.0

[1332 rows x 4 columns]

In [14]:
#county_state = covid_max_cases['county_state']
#covid_min_cases['county_and_state'] = county_state
#covid_min_cases

In [15]:
#finding the % change in cases fron begining to end of month
perc_cng_cases = (covid_min_cases["end_cases"] - covid_min_cases["cases"]) / covid_min_cases["cases"]
covid_min_cases["perc_cng_cases"] = perc_cng_cases
covid_min_cases

                           year     date1    cases  end_cases  perc_cng_cases
county_state    month
Adams_Colorado  August     2020  20200801   6018.0     7579.0        0.259389
                November   2020  20201101  15574.0    23832.0        0.530243
                October    2020  20201001   9537.0    15216.0        0.595470
                September  2020  20200901   7647.0     9433.0        0.233556
Adams_Idaho     August     2020  20200801     18.0       25.0        0.388889
...                         ...       ...      ...        ...             ...
Wilson_Texas    September  2020  20200901    540.0      902.0        0.670370
Yavapai_Arizona August     2020  20200801   1778.0     2311.0        0.299775
                November   2020  20201101   3029.0     3864.0        0.275669
                October    2020  20201001   2583.0     3022.0        0.169957
                September  2020  20200901   2321.0     2567.0        0.105989

[1332 rows x 5 columns]

In [16]:
#correcting the oreder of months
covid_cleaned = covid_min_cases.sort_values(["county_state", "date1"])
covid_cleaned

                           year     date1    cases  end_cases  perc_cng_cases
county_state    month
Adams_Colorado  August     2020  20200801   6018.0     7579.0        0.259389
                September  2020  20200901   7647.0     9433.0        0.233556
                October    2020  20201001   9537.0    15216.0        0.595470
                November   2020  20201101  15574.0    23832.0        0.530243
Adams_Idaho     August     2020  20200801     18.0       25.0        0.388889
...                         ...       ...      ...        ...             ...
Wilson_Texas    November   2020  20201101   1004.0     1075.0        0.070717
Yavapai_Arizona August     2020  20200801   1778.0     2311.0        0.299775
                September  2020  20200901   2321.0     2567.0        0.105989
                October    2020  20201001   2583.0     3022.0        0.169957
                November   2020  20201101   3029.0     3864.0        0.275669

[1332 rows x 5 columns]

In [17]:
# Export file as a CSV, without the Pandas index, but with the header
covid_cleaned.to_csv("data_sources2/covid_ave_growth_per_month.csv", index=False, header=True)